.intro__list {
  margin: 33px 0 0;
  padding: 0;
  max-width: 690px;
  color: #fff;
  list-style: none;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
}

@media screen and (max-width: 425px) {
    .intro__list {
      margin-top: 34px;
    }
}