.header {
  width: calc(100% - 96px);
  max-width: 1184px;
  margin: 28px auto 0;
  display: grid;
  grid-template-columns: 1fr 30px 30px;
  gap: 18px;
  align-items: end;
}

@media screen and (max-width: 768px) {
    .header {
      grid-template-columns: 1fr 22px 22px;
      width: calc(100% - 48px);
      margin-top: 16px;
    }
  } 

  @media screen and (max-width: 320px) {
    .header {
      width: calc(100% - 32px);
    }
  } 