.cover {
  max-width: 1184px;
  margin: 0 auto 92px;
  background-image: url(../../images/cover-trains.jpg);
  background-position: center;
  background-size: cover;
  height: 740px;
}

@media screen and (max-width: 1024px) {
    .cover {
      height: 640px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .cover {
      height: 480px;
      margin-bottom: 88px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .cover {
      height: 200px;
      margin-bottom: 64px;
    }
  }
