.place__link {
  color: #fff;
  font-family: 'Inter', ‘Arial’, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  transition: opacity 0.5s linear 0s;
}

.place__link:hover {
    opacity: 80%;
}