.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 96px);
  max-width: 1184px;
  margin: 0 auto 24px;
}

@media screen and (max-width: 768px) {
    .footer {
      width: calc(100% - 48px);
    }
  }

@media screen and (max-width: 650px) {
    .footer {
      flex-direction: column;
      width: calc(100% - 32px);
    }
  }

